includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/slam/phpstan-extensions/conf/slam-rules.neon
    - vendor/slam/phpstan-extensions/conf/thecodingmachine-rules.neon

parameters:
    paths:
        - lib/
        - tests/
    ignoreErrors:
        - '#Class Doctrine\\Common\\Util\\Debug not found#'
        - '#Call to static method export\(\) on an unknown class Doctrine\\Common\\Util\\Debug#'
        - '#Function \w+ is unsafe to use, rely on .+ instead#'
        - '#Variable \$_\w+ in isset\(\) always exists and is not nullable#'
        - '#Parameter \#1 \$error_handler of function set_error_handler expects#'
        - '#Offset .(no_exception_thrown.*|undefined_index). does not exist on array#'
        - '#Expression .+arrayPerVerificaErrori.+ on a separate line does not do anything#'
